<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Tin Tuyển Dụng</title>
    <link rel="stylesheets" href="/stylesheets/jobDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="section-title">Chi Tiết Tin Tuyển Dụng</h1>
        <div class="job-detail">
            <h2 class="job-detail-title">Chương trình thực tập sinh tại Hoa kỳ</h2>
            <div class="job-detail-content">
                <p><strong>Đăng ngày:</strong> 20/05/2024</p>
                <p>Đây là một trong những chính sách nhằm giúp sinh viên và lao động có tay nghề nâng cao trình độ chuyên môn, tích lũy kinh nghiệm và nâng cao khả năng sử dụng ngoại ngữ.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum scelerisque odio nec est commodo, id bibendum leo auctor. Donec maximus nibh a justo elementum, a facilisis massa pretium. Nulla facilisi. Quisque sit amet scelerisque elit. Aenean non risus ut turpis congue scelerisque non vel risus. Suspendisse potenti. Etiam nec arcu in ex vulputate ultricies nec nec urna. Nulla in nunc ut urna cursus dapibus.</p>
            </div>
        </div>
    </div>
</body>
</html>
