<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết thông báo</title>
    <link rel="stylesheet" href="/stylesheets/notificationDetail.css">
</head>
<body>
    <div class="announcement-detail">
        <div class="announcement-header">
            <div class="image">
                <img src="Tonducthang.jpg" alt="Hình minh họa">
            </div>
            <div class="header-content">
                <h2 class="title">Tiêu đề của thông báo</h2>
                <p class="date">Ngày đăng: 20/07/2024</p>
                <p class="full-content">Đây là nội dung chi tiết của thông báo. Nội dung chi tiết sẽ cung cấp đầy đủ thông tin và các điểm quan trọng của thông báo. Nội dung này có thể kéo dài và bao gồm nhiều đoạn văn bản để người đọc có thể hiểu rõ hơn về thông báo này.</p>
            </div>
        </div>
    </div>
</body>
</html>
